<div class="row">
  <table *ngIf="todoItems && todoItems.length > 0; else no_elements" class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of todoItems">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.name }}</td>
          <td>
            <span *ngIf="item.isComplete" class="badge badge-success">Done</span>
            <span *ngIf="!item.isComplete" class="badge badge-warning">Active</span>
          </td>
          <td>
            <a class="btn btn-primary" routerLink="/todo-item/{{item.id}}">
              Edit
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #no_elements>
        <h1>Add your first todo item!</h1>
    </ng-template>
</div>
<div class="row">
  <a class="btn btn-success" routerLink="/todo-add">
    Add todo item
  </a>
</div>