<div *ngIf="todoItem" class="mt-2">
  <div class="card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-body">
      <h5 class="card-title">{{ todoItem.name }}</h5>
      <p class="card-text">{{ todoItem.isComplete ? 'Done' : 'Active' }}</p>
      <button *ngIf="todoItem.isComplete; else other_content" 
                class="btn btn-warning"
                (click)="makeActive()">
        Make active
      </button>
      <ng-template #other_content>
        <button class="btn btn-success" 
                (click)="makeDone()">
          Done
        </button>
      </ng-template>
      <button class="btn btn-danger" 
              (click)="delete()">Delete</button>
    </div>
  </div>
</div>
