<mat-toolbar class="header-wrapper" color="primary">
  
  <button color="accent" mat-mini-fab (click)="toPrevPage()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span class="brand-icon" routerLink="/organizations-list">Services ordering system</span>
  
  <span class="example-fill-remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/order" mat-menu-item>
      <mat-icon>add_shopping_cart</mat-icon>
      <span>Make order</span>
    </button>
    <button routerLink="/orders" mat-menu-item>
      <mat-icon>list</mat-icon>
      <span>Orders</span>
    </button>
    <button routerLink="/users" mat-menu-item>
      <mat-icon>perm_contact_calendar</mat-icon>
      <span>Users</span>
    </button>
    <button routerLink="/services-list" mat-menu-item>
      <mat-icon>room_service</mat-icon>
      <span>Services</span>
    </button> 
    <button routerLink="/organizations-list" mat-menu-item>
      <mat-icon>account_balance</mat-icon>
      <span>Organization</span>
    </button>
  </mat-menu>
</mat-toolbar>