<mat-toolbar color="primary">

    <span>Services ordering system</span>
    <span class="example-fill-remaining-space"></span>

    <!-- <a routerLink="/organizations-list">Organizations</a> -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>add_shopping_cart</mat-icon>
            <span routerLink="/order">Make order</span>
          </button>
        <button mat-menu-item>
          <mat-icon>room_service</mat-icon>
          <span routerLink="/organizations-list">Services</span>
        </button> 
        <button mat-menu-item>
          <mat-icon>account_balance</mat-icon>
          <span routerLink="/services-list">Organization</span>
        </button>
      </mat-menu>
</mat-toolbar>
  
<!-- 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <button class="navbar-toggler" 
              type="button" 
              data-toggle="collapse" 
              data-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent"
              aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/organizations-list">Organizations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services-list">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/order">Do order!</a>
            </li>
        </ul>
      </div>
  </div>
</nav> -->